<form class="donut-form" #form="ngForm" *ngIf="donut; else loading">
  <label>
    <span>Name</span>
    <input
      type="text"
      name="name"
      class="input"
      minlength="5"
      required
      [ngModel]="donut.name"
      #name="ngModel"
    />
    <ng-container *ngIf="name.invalid && name.touched">
      <div class="donut-form-error" *ngIf="name.errors?.minlength">
        Minimum length of a name is 5
      </div>
      <div class="donut-form-error" *ngIf="name.errors?.required">
        Name is required
      </div>
    </ng-container>
  </label>

  <label>
    <span>Icon</span>
    <select
      name="icon"
      class="input input--select"
      required
      [ngModel]="donut.icon"
      #icon="ngModel"
    >
      <option *ngFor="let icon of icons" [ngValue]="icon">
        {{ icon }}
      </option>
    </select>
    <ng-container *ngIf="icon.invalid && icon.touched">
      <div class="donut-form-error" *ngIf="icon.errors?.required">
        Icon is required
      </div>
    </ng-container>
  </label>

  <label>
    <span>Price</span>
    <input
      type="number"
      name="price"
      class="input"
      required
      [ngModel]="donut.price"
      #price="ngModel"
    />
    <ng-container *ngIf="price.invalid && price.touched">
      <div class="donut-form-error" *ngIf="price.errors?.required">
        Price is required
      </div>
    </ng-container>
  </label>

  <div class="donut-form-radios">
    <p class="donut-form-radios-label">Promo:</p>
    <label>
      <input
        type="radio"
        name="promo"
        [value]="undefined"
        [ngModel]="donut.promo"
      />
      <span>None</span>
    </label>
    <label>
      <input type="radio" name="promo" value="new" [ngModel]="donut.promo" />
      <span>New</span>
    </label>
    <label>
      <input
        type="radio"
        name="promo"
        value="limited"
        [ngModel]="donut.promo"
      />
      <span>Limited</span>
    </label>
  </div>

  <label>
    <span>Description</span>
    <textarea
      name="description"
      class="input input--textarea"
      required
      [ngModel]="donut.description"
      #description="ngModel"
    ></textarea>
    <ng-container *ngIf="description.invalid && description.touched">
      <div class="donut-form-error" *ngIf="description.errors?.required">
        Description is required
      </div>
    </ng-container>
  </label>

  <button
    *ngIf="!isEdit"
    (click)="handleCreate(form)"
    type="button"
    class="btn btn--green"
  >
    Create
  </button>

  <button
    *ngIf="isEdit"
    (click)="handleUpdate(form)"
    [disabled]="form.pristine"
    type="button"
    class="btn btn--green"
  >
    Update
  </button>

  <button
    *ngIf="isEdit"
    (click)="handleDelete()"
    type="button"
    class="btn btn--green"
  >
    Delete
  </button>

  <button
    *ngIf="form.touched || isEdit"
    (click)="form.resetForm()"
    type="button"
    class="btn btn--grey"
  >
    Reset Form
  </button>

  <div *ngIf="form.valid && form.submitted" class="donut-form-working">
    Working...
  </div>
</form>

<ng-template #loading>Loading...</ng-template>
