<div>
  <div>
    <div class="donut-list-actions">
      <a routerLink="new" class="btn btn--green"
        >New Donut<img src="/assets/img/icon/plus.svg" alt="Add icon"
      /></a>
    </div>

    <ng-container *ngIf="donuts?.length; else nothing">
      <app-donut-card
        *ngFor="let donut of donuts; trackBy: trackById; index as index"
        [donut]="donut"
      ></app-donut-card>
    </ng-container>

    <ng-template #nothing>
      <p>No donuts here...</p>
    </ng-template>
  </div>
</div>
